.container {
  margin-top: 20px;
}

.version {
  font-size: small;
  font-style: italic;
}

.board-wrapper {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.piece {
  stroke: black;
  stroke-width: 2;
}
